[2017-02-20 01:17] piotrwitek opened #1 "Tracking TypeScript proposal: Get the type of any expression with typeof"
https://github.com/Microsoft/TypeScript/issues/6606

Until linked proposal is implemented, I'm providing this indispensable polyfill to allow extracting return type of "expression/function":

Docs:
https://github.com/piotrwitek/react-redux-typescript#returntypeof-polyfill
Implementation:
https://github.com/piotrwitek/react-redux-typescript/blob/master/src/returntypeof.ts

[2017-02-20 10:47] piotrwitek commented on #1
this could be an improvement for this workaround, but needs further investigation in TS v2.3: https://github.com/Microsoft/TypeScript/issues/6606#issuecomment-277537107

[2017-03-28 19:11] jbbr opened #3 "2.2.0 published in NPM does not contain class ActionCreator"
2.2.0's tagged code and documentation references the new "ActionCreator" class.
Unfortunately the version published on NPM does not contain this class despite being tagged as 2.2.0 too.

Maybe you accidentally published an older version with the new tag.

[2017-03-28 19:19] piotrwitek commented on #3
@jbbr yes you're right, thanks for reporting
Gonna publish the hotfix

[2017-03-28 19:30] piotrwitek commented on #3
fixed in https://github.com/piotrwitek/react-redux-typescript/releases/tag/v2.2.1

[2017-03-28 19:30] #3 closed

[2017-03-29 00:52] jbbr commented on #3
Thanks for the very quick fix!

[2017-06-12 09:52] mwawrysz opened #4 "ActionCreator without payload"
ActionCreator without payload - require payload anyway

ActionCreators.testAction.create => ...testAction(null)

One change:

[code]

[2017-06-12 11:21] piotrwitek commented on #4
@mwawrysz unfortunately it will not work because then payload would be optional, not desirable
can be easily fixed by overloading function interface as in this example: https://github.com/piotrwitek/react-redux-typescript/blob/master/src/create-action-creator.ts

I was testing different other approaches for action creators, that are more idiomatic and better to maintain, I'll update this repo with

[2017-06-21 09:29] piotrwitek opened #5 "returntypeof should return undefined"
better to return undefined than empty object to introduce explicit error rather than fail silently in cases when you mistakenly use it as a mapper function in redux connect helper

[2017-07-18 23:25] rluiten opened #6 "warnings from build process using react-redux-typescript returntypeof()"
I am finding `returntypeof` very useful, I am getting some warnings from my build process.

using node 6.11.0
using npm 3.10.10
using webpack@2.7.0
using typescript@2.4.1
using react-redux-typescript@2.3.0

I have tried the following import methods.

`import { returntypeof } from 'react-redux-typescript';`
`import { returntypeof } from 'react-redux-typescript/module';`
`import { returntypeof } fro

[2017-07-19 12:58] piotrwitek commented on #6
Hi,
Isn't it the problem with Webpack and your TS loader (which you haven't disclosed)?
For me it looks like it.

[2017-07-19 13:02] piotrwitek commented on #6
please also provide tsconfig and maybe webpack to see if anything suspicious catch my attention

[2017-07-19 21:05] rluiten commented on #6
Hopefully this covers the bases.

output of `npm ls --depth 0`
[code]

tsconfig.json
[code]
webpack.config.js
[code]

[2017-07-19 21:31] piotrwitek commented on #6
Looks like webpack is trying to resolve the lib import relatively instead of node_modules, probably includes/excludes and appriopriate base path will solve the problem.

I would suggest to start from below starter repo and incrementally add your specific stuff, you'll save  a lot of time fighting with webpack configs: https://github.com/piotrwitek/react-redux-typescript-webpack-starter

Closing as

[2017-07-19 21:31] #6 closed

[2017-07-19 21:44] rluiten commented on #6
It appears it was source-map-loader specifically adding exclude of node_modules did it.

Thanks for your projects and guides I am finding a lot of it very useful and informative.

[code]

Discovered via this thread - https://github.com/apollographql/react-apollo/issues/597

[2017-07-20 08:28] piotrwitek commented on #6
Good to know and thanks for sharing :)

[2017-08-16 19:07] goldenbearkin commented on #4
what is blocking the v3.0 API? I am also looking for the empty payload creators.

[2017-08-16 20:10] goldenbearkin commented on #4
just realized that the createActionCreator can be found in react-redux-typescript but not included in index.d.ts. is it intentable to hide createActionCreator? I found the createActionCreator is awesome which reduce lots of boilerplate. Do you not recommend people start using it?

[2017-08-16 20:44] piotrwitek commented on #4
I was suppose to publish it as official but needed to do some real project testing first to become solid it's good enough, that's why it was hidden, I'll try to push it this week probably

[2017-08-16 22:32] piotrwitek opened #8 "new mapped types helpers"
adding a handful of utility mapped types:
- Diff
- Omit
- Overwrite

<examples placeholder>

not sure original authors but I copied it from here: https://github.com/Microsoft/TypeScript/issues/12215#issuecomment-322562248

[2017-08-16 22:32] piotrwitek commented on #8
examples placeholder

[2017-10-23 09:39] gsbelarus commented on #4
Are there any updates on v3 state?

[2017-10-23 09:49] piotrwitek commented on #4
@gsbelarus yes I was working on it during this weekend, I'm certain it will be finished latest on friday, but probably even sooner.
I completed the hardest stuff which is type soundness of Action Creator method, now I need to update the documentation and add a few tests.

[2017-11-11 11:34] leonth commented on #4
hi, any updates on this? If not would you take the existing implementation and export it (like this fork https://github.com/jervtub/react-redux-typescript)?

[2017-11-15 12:09] piotrwitek commented on #4
@leonth I have finished a new API version which will be released today afternoon in beta as a separate library, and will be re-exported in this lib as well. (Finalizing examples section and documentation)

Basically it means:
- react-redux-typescript - will become Utility belt for React + Redux + TypeScript Projects
- ts-redux-actions - Typed Redux Actions for TypeScript (https://github.com/piotrw

[2017-11-15 19:36] #5 closed

[2017-11-15 19:38] #8 closed

[2017-11-15 19:41] piotrwitek commented on #5
used null instead of undefined, rationale is that undefined will trigger default values in functions arguments, null will not, and will stand out when looking for suspicious values

[2017-11-24 07:06] #4 closed

[2017-11-26 20:49] rclmenezes opened #10 "Creating RootAction from `createEmptyAction` and `createPayloadAction`"
Hi,

I stumbled on your code for `createEmptyAction` and `createPayloadAction`. I was making something very similar, but I was having a tough time making RootAction from the results of these functions. You have any luck?

[2017-11-27 21:04] rclmenezes commented on #10
I ended up using this pattern:

[code]

Hacky, but it works pretty well :)

Thanks for making this and `react-redux-typescript-guide`

[2017-11-28 09:16] piotrwitek commented on #10
@rclmenezes sorry was really busy, got a better one stay tuned need to sort out my stuff first

[2018-01-21 23:44] piotrwitek commented on #10
there is tutorial here with explaining RootAction: https://github.com/piotrwitek/typesafe-actions#tutorial

[2018-01-21 23:44] #10 closed

[2018-02-01 10:57] belgattitude opened #12 "Support for typescript 2.7.1 ?"
Recently updated to typescript 2.7.1 and faced an issue with at-loader. No big issue I'll downgrade to typescript 2.6, just to let you know.

[code]

[2018-02-01 20:34] sylvanaar commented on #12
It was working fine all through the dev releases of 2.7 - something happened near release.

[2018-02-01 22:41] olee commented on #12
Same problem here! Would love to see this fixed
(or at least find a way for webpack+ForkTsCheckerPlugin to NOT check node_modules files for type errors...)

[2018-02-02 17:09] sylvanaar commented on #12
I think TS 2.8 is going to really change this library with the new conditional types, maybe the effort is better spent there. Not sure - still trying to wrap my head around conditional types.

[2018-02-02 18:17] piotrwitek commented on #12
Hello,
Thanks for heads-up, give me a few days to figure out the braking changes.

[2018-02-10 01:07] AbraaoAlves opened #14 "[feat]: SetDifference between no-string types"
Is it possible?

[code]

[2018-02-10 11:08] piotrwitek commented on #14
Currently no, but with conditional types on the typescript@next branch, that might be possible.

Btw. what is your use case for that requirement, doesn't a typeof type guard do the job?

[2018-02-10 11:12] piotrwitek commented on #1
finally after one year of waiting it will be possible to resolve in typescript@next branch, I'll start experimental implementation on the next branch

[2018-02-10 16:00] piotrwitek opened #15 "[v2.0.0]: Support TypeScript v2.8"
- [x] remove old `$call` helper and implement proper Flow's `$Call<T>` type https://flow.org/en/docs/types/utilities/#toc-call
- [x] DeepReadonly
- [x] SetIntersection
- [x] Intersection
- [x] FunctionKeys
- [x] NonFunctionKeys

[2018-02-10 16:52] piotrwitek opened #16 "Add a listing of all available predefined Mapped and Conditional Types"
TypeScript predefined utility-types (standard library):
- Partial
- Readonly
- Pick
- Record
- Required
- Exclude
- Extract
- NonNullable
- ReturnType
- InstanceType

[2018-02-10 17:28] piotrwitek commented on #14
@AbraaoAlves I actually checked and it should indeed be possible to implement
I'll soon start to experiment on the next branch

[2018-02-22 08:49] olee commented on #12
Any progress on this?
Does the fix from @whtsky work?

[2018-03-06 18:13] belgattitude commented on #12
Any progress on this ? (awesome typescript loader 4 / webpack 4 requires ts 2.7) would be super cool ! thanks

[2018-03-06 18:55] piotrwitek commented on #12
I can take a look but will need a minimal setup (with at4 + webpack 4) to isolate issue first. Can anyone of you help and point me to such a repo? @belgattitude @olee ?

[2018-03-06 20:49] runeh commented on #12
@piotrwitek if you bump the version of typescript to 2.7.2 in the `playground` folder in your react-redux-typescript-guide and try to build, you'll get the compile error.

[2018-03-06 23:18] piotrwitek commented on #12
fixed and deployed in https://github.com/piotrwitek/utility-types/releases/tag/v1.1.0

[2018-03-06 23:18] #12 closed

[2018-03-06 23:33] piotrwitek commented on #12
@runeh upgraded playground to TS@2.7.2 as well

[2018-04-01 13:22] piotrwitek commented on #15
Almost ready to be released, just need to update documentation.

[2018-04-02 23:11] #14 closed

[2018-04-02 23:11] #15 closed

[2018-04-02 23:11] #16 closed

[2018-04-02 23:11] #1 closed

[2018-04-03 19:00] rattrayalex opened #18 "$ObjMap support"
I'm not sure if it's possible (either way might be good to document).

[2018-04-03 21:03] piotrwitek commented on #18
I would gladly add that to the API, although I'm not sure I'll have time to work on this any time soon.

If anyone would want to work on this, PR'a are welcomed.

[2018-04-04 07:09] vilic opened #19 "Use conditional types for improved union type support"
E.g. the definition of type `Omit` could be rewritten into:

[code]

[2018-04-04 07:35] piotrwitek commented on #19
What is it suppose to change in comparison to my current implementation?
[code]

[2018-04-04 07:42] vilic commented on #19
Consider this:

[code]

Without the conditional type (which wraps `Pick`), `FooBar` just picks the common part and downgrade the union type.

[2018-04-04 08:56] piotrwitek commented on #19
Thanks for detailed explanation @vilic,
After some consideration that might be usefull, but it will require quite the effort as the change should be included in all relevant types to remain consistent and add new type test cases with unions input for each of the Type Operators.

[2018-04-06 12:47] dmisdm opened #20 "React utility types ( eg React.ElementProps )"
So since conditional types have been introduced, i found out how to do this.
Been wanting this for ages.

Flow (i think its right)...you get the point
[code]

Typescript:
[code]
`ElementProps` is really just `TypeOfFirstArg` but using react's component types

So maybe also worth adding:
[code]

Not sure if thats the best way and if iv used the best types in react. Maybe best to not add react stuff

[2018-04-23 13:52] goodmind opened #21 "$Call with arguments"
You can't use `$Call` dependent on input types with this

[2018-04-30 15:46] yulric opened #22 "Question about NonFunctionKeys"
Hi there,
Not sure if this is a good place for this but I'm having trouble understanding how this code https://github.com/piotrwitek/utility-types/blob/master/src/mapped-types.ts#L41 is doing what it's doing.

I understand what this does,

`{ [K in keyof T]: T[K] extends Function ? never : K }`

but I'm not sure how adding `[keyof T]` part is extracting out all the fields which are never?

Thanks

[2018-05-03 22:24] piotrwitek commented on #21
You cannot in the wat the Flow does it, but you can move it to the constraint of the first type argument, check the example here: https://github.com/piotrwitek/utility-types#callt

[2018-05-03 22:24] #21 closed

[2018-05-03 22:26] piotrwitek commented on #20
I have it in mind, but didn't wanted to clutter it with React types dependency, will think about it

[2018-05-16 17:03] piotrwitek opened #23 "Rename UnboxPromise to PromiseType"
Renaming `UnboxPromise` to `PromiseType` because it's name sound too much like a function call and also to follow the spirit of similar API in standard lib, for instance:
- in TS: `ReturnType`, `InstanceType`
- in Flow: `$PropertyType`, `$ElementType`

Don't panic because `UnboxPromise` will stay for a while being marked as `deprecated`, to give users time to refactor.

[2018-05-16 17:07] #23 closed

[2018-05-28 23:21] Intregrisist opened #24 "Missing Types"
I just pulled the latest with `npm` but I noticed there are missing types. (e.g. `Unionize`).  I took a look at the `node_modules` folder and I noticed that the build files are not matching the `src` files.

*Version:* 2.0.0

[2018-06-18 09:59] darky opened #25 "$ElementType not infer union of literals"
What's happen?:

[code]

What should be:

[code]

[2018-06-18 10:08] eps1lon commented on #25
What Typescript version are you using? I'm having no problems with 2.9.2. Documentation says that you need at least `2.8.1` for utility-types `2.x`

@piotrwitek Might be a good idea to add that typescript version as a `peerDependency`

[2018-06-18 10:45] darky commented on #25
2.9.2

[2018-06-18 10:48] eps1lon commented on #25
Might be a good idea to provide a repo and where/how the error is displayed. Some editors for example have to be configured to use a specific ts version.

[2018-06-18 12:08] darky commented on #25
Sorry, I wrong.

I try like:

[code]

But works:

[code]

[2018-06-18 12:08] #25 closed

[2018-06-21 08:39] freddi301 opened #26 "Proposal ParameterType"
example:

[code]

[2018-07-31 22:09] emilgpa opened #27 "Add new type: Mutable"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2420%20Funded-%2300A156.svg" />](https://issuehunt.io/r/piotrwitek/utility-types/issues/27)

I think that there are not a type for mutable object

[code]

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $20.00)

- [<img src='https://avatars3.githubusercontent.com/u/44827199?v=4' alt='issuehu

[2018-08-02 07:54] piotrwitek commented on #27
Interesting, will figure out a bit later, have a lot on my plate now.

[2018-09-12 11:09] xiaoxiangmoe commented on #26
I think it would be better

[code]

[2018-09-13 10:10] freddi301 commented on #26
@xiaoxiangmoe see edit

[2018-09-13 16:43] piotrwitek commented on #26
Hey, thanks for the proposal.
Could you please how where this type would be useful, best if you can add some use case snippet from the consumers perspective.

[2018-09-13 16:49] piotrwitek commented on #24
Hey, sorry it turns out I didn't publish them yet as they were added after 2.0.0 release
Looking at this now

[2018-09-13 16:57] #24 closed

[2018-09-14 11:46] freddi301 commented on #26
It's useful when mapped types contains functions.
[Parameter2Type](https://gist.github.com/freddi301/5c01af6c935d4dc4e71acceb3eea166a#file-reduce-boilerplate-ts-L23)

[2018-09-18 08:19] piotrwitek opened #29 "Update project to support TypeScript v3.1.0"
I would like to update the project so that it can support the most recent version of TypeScript v3.1.0.

[2018-09-19 06:11] piotrwitek opened #30 "Add a web page with API documentation hosted on github pages"
I would be nice to have a nice API Documentation webpage with search functionality similar to Ramda: https://ramdajs.com/docs/

It would be much easier for users to use than using repo README.

[2018-10-03 11:11] zetamorph commented on #18
Hi,

I looked around and went through some related TypeScript issues and it seems that this is not possible with TypeScript at the moment.
Something like this https://github.com/Microsoft/TypeScript/issues/6606 would have to exist in TypeScript to correctly infer the types of all mapped properties of the object.

It also seems that this change in the TypeScript compiler will not land for a long ti

[2018-10-15 21:49] stereobooster commented on #18
[code]

works in TS 3.1 (probably in 2.9 too) https://github.com/bcherny/flow-to-typescript/issues/11

[2018-10-22 17:50] jkillian opened #32 "DeepRequired Type"
The TypeScript standard library includes a [`Required` type](https://github.com/Microsoft/TypeScript/blob/f53a27eac0ee702bd14d984deaecadfb42181c99/src/lib/es5.d.ts#L1401), but this only operates on the top-most level of fields in a type. A `DeepRequired` type, [perhaps something like this](https://github.com/Microsoft/TypeScript/issues/15012#issuecomment-365453623), would be useful.

[code]

[2018-11-06 22:23] mohsen1 opened #34 "Include usage documentations in JSDoc"
All types have nice usage docs. Would be nice to have them in JSDoc to show up in text editors.

[2018-11-08 22:18] piotrwitek commented on #34
That's interesting idea. What are the best practices to implement that, can you link to some examples?

The main concern is maintainability of these JSDoc comments, for example when we update usage examples so they stay up to date.

[2018-11-09 17:29] mohsen1 commented on #34
You probably want to use the JSDoc as the source of truth and then use tools like [tsdoc](https://github.com/Microsoft/tsdoc) to generate your README and/or website from it.

[2018-11-26 02:18] malash commented on #32
I believe this PR fixed it. https://github.com/piotrwitek/utility-types/pull/33

[2018-11-26 02:26] #32 closed, assigned to nobody

[2018-12-03 10:07] piotrwitek opened #37 "Update internal type correctness unit-test framework to dts-jest"
Historically typesafe-actions was created well before there was any solutions in the wild that would allow to unit-test correctness of resulting type annotations.
So I had to improvise and cook my own solution to do that, unfortunately this increased a cost of maintenance and adding new features slowing down development and increasing effort.

UPDATE: After that I spend some time investigating opt

[2018-12-18 09:18] malash commented on #29
Any detailed todos ?

[2018-12-18 13:49] malash commented on #26
I believe `Parameters` is enough.

[code]

[2018-12-19 00:09] piotrwitek commented on #26
Agree with @malash, it's supported by TS natively now.

[2018-12-19 00:09] #26 closed

[2018-12-19 00:10] piotrwitek commented on #29
Sorry that's already in progress

[2018-12-19 10:35] piotrwitek commented on #20
It's no longer needed as it's already included in the react types:

[code]

[2018-12-19 10:35] #20 closed

[2018-12-19 10:38] carpben opened #39 "What is meant by "Provides multiple output formats"?"
I want to start using this library, but was surprised to read that it "Provides multiple output formats (es5-commonjs, es5-module, jsnext)". Isn't this library simply Typescript? I'd like to leave the compilation to Typescript and/or Babel.

[2018-12-19 17:58] #29 closed

[2018-12-19 17:58] #37 closed

[2018-12-20 19:21] piotrwitek opened #42 "Release v3.0.0 to npm"
Checklist:
- add compatibility note about v3

[2018-12-20 20:19] piotrwitek commented on #39
Hey, yes you're right it is!
This is some stuff I copied from my other library readme and haven't noticed. I need to remove it.

[2018-12-20 20:30] #39 closed

[2018-12-20 20:30] #42 closed

[2018-12-20 20:43] piotrwitek commented on #18
I wanted to refer to some proposals posted here that are different from original $ObjMap in Flow.
The primary use case we would like to solve with this type is to iterate over properties of object and execute a function on each value to get the result. Obviously this has to be done on a type-level only.

I know TS doesn't allow this operation right now (please read https://github.com/piotrwitek/ut

[2018-12-22 08:40] levenleven opened #43 "Add $Shape<T> flow's utility"
[$Shape<T>](https://flow.org/en/docs/types/utilities/#toc-shape)

Equivalent to `Partial<T>` in Typescript

[2018-12-22 08:40] levenleven commented on #43
I can open PR if sounds reasonable

[2018-12-22 22:36] piotrwitek commented on #43
Hey @levenleven, thanks for the proposal. I think this is a great addition to Flow utilities. Please proceed with a PR I'll be happy to add it.

[2018-12-24 18:16] levenleven commented on #43
Not sure what is that 🙂
Came here, bacause it seems very useful when moving from flow to typescript. Love the idea of flow's utils aliases in ts

[2019-01-03 22:55] stereobooster opened #45 "support $Compose"
There is no documentation for it except this https://github.com/facebook/flow/blob/v0.87.0/src/typing/type_annotation.ml#L593

This is how people doing it https://github.com/reduxjs/redux/blob/686d29b5d4e2dcb6709c16e31b79ecde90763156/index.d.ts#L451-L541

[2019-01-05 20:43] levenleven opened #46 "Add an alias for flow's $NonMaybeType<T>"
[$NonMaybeType<T>](https://flow.org/en/docs/types/utilities/#toc-nonmaybe)

Equivalent to NonNullable<T> in Typescript

[2019-01-05 21:03] levenleven opened #47 "Flow's Class<T>"
[Class\<T>](https://flow.org/en/docs/types/utilities/#toc-class)

Similar can be achieved in Typescript by `typeof Foo` but requires `Foo` to be a value, not a type. So can't be used with generics

Constructor part can be easily described by: `type Constructor<T> = new (...args) => T;`. This of course won't include any static members and won't verify inheritance (classes in Typescript not treated

[2019-01-06 20:30] piotrwitek commented on #45
I'm not sure about this one as it isn't in the official public API

[2019-01-06 20:44] levenleven commented on #46
I can handle this

[2019-01-06 20:58] piotrwitek commented on #47
I think what you proposed is good enough.
[code]
It works correctly for all Flow use case examples (except nominal part but we don't care about it as TS is structural)

I accept PR

[2019-01-06 22:40] piotrwitek commented on #45
Thanks for all references, but for me it looks like a solution for a single use-case which is to provide type definition for a composition function.
I don't think it fits this library which is a collection of general types.

[2019-01-06 22:43] stereobooster commented on #45
makes sense

[2019-01-06 22:43] #45 closed

[2019-01-07 22:00] #46 closed

[2019-01-09 04:13] malash opened #49 "Add new type: UnionToIntersection"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2420%20Funded-%2300A156.svg" />](https://issuehunt.io/r/piotrwitek/utility-types/issues/49)

[code]

A use case:

[code]

Ref: https://stackoverflow.com/questions/50374908/transform-union-type-to-intersection-type

---

<details>
<summary>
<b>IssueHunt Summary</b>
</summary>

### Backers (Total: $20.00)

- [<img src='https:/

[2019-01-09 09:48] ozum opened #50 "PickType and OmitType"
Hi,

Could you please add `PickType` and `OmitType` types similar to `Pick` and `Omit`. It would be helpful. They pick and omit properties based on types of values instead of key names:

I changed names to make it more compatible with `utility-types`. You can change if you have a more appropriate name in your mind.

**Types**

[code]

**Usage**

[code]

Types are not developed by me. I saw them on

[2019-01-09 15:37] piotrwitek opened #51 "Improve API docs"
- Improve api list organization and grouping
- Add missing usage examples to standard-lib API

[2019-01-09 15:38] piotrwitek opened #52 "Add DeepPartial<T>"
The same as `Partial` but working recursively

[2019-01-10 06:14] levenleven commented on #52
Something like
[code]
?

[2019-01-11 07:21] malash opened #53 "Support RequiredKeys and OptionalKeys"
Demo:

[code]

https://stackoverflow.com/questions/53809467/typescript-how-get-optional-keys-of-type

EDIT1: Added edge cases

[2019-01-11 09:15] levenleven commented on #47
Great, I'll create a PR

[2019-01-11 20:20] piotrwitek commented on #52
Yeah, although there are two possible improvements we can make here:
- T extends (...args: any[]) => any ? T : ... - so that extracted function properties types works correctly
here is type snapshot for that:
[code]
- inline PartialArray interface using conditional with infer clause in DeepPartial definition

[2019-01-11 20:35] piotrwitek commented on #49
Really interesting type, so much to learn here. I think it might be useful when creating some more complex types.

I would like to add it, accepting PR's.

[2019-01-11 20:53] piotrwitek commented on #50
I like this types, they are definitely useful.

For the name I would propose:
- `PickByValue`
- `OmitByValue`

I choose this name because regular pick is picking by key, and `PickByValue` is picking by the value, check the example below:

Examples:
[code]

[2019-01-12 10:56] levenleven opened #55 "Support ReadonlyKeys and WritableKeys"
Demo:
[code]

Can be based on https://stackoverflow.com/questions/49579094/typescript-conditional-types-filter-out-readonly-properties-pick-only-requir

[2019-01-12 12:52] levenleven commented on #52
Nice catch with function properties!
Regarding _inline PartialArray_ - if you mean `T extends Array<infer U> ? Array<DeepPartial<U>>` this can't be done because type alias can't be referenced by itself at the top level

[2019-01-14 11:02] piotrwitek commented on #52
Ok please let me double check the inline case, I thought I saw it working somewhere with a little trick

[2019-01-14 11:05] piotrwitek commented on #55
Yeah both of them are quite useful. Accepting PR's!

[2019-01-14 11:37] piotrwitek opened #57 "Update API TOC with OmitByValue, PickByValue"
@ozum

[2019-01-14 11:45] ozum commented on #57
PR sent.

[2019-01-14 14:45] #57 closed

[2019-01-14 17:16] #47 closed

[2019-01-14 18:44] levenleven commented on #53
I'd like to add `NullableKeys` as well.
With _strictNullChecks_ enabled can be implemented as
[code]

[Playground](https://www.typescriptlang.org/play/index.html#src=type%20PickKeys%3CT%20extends%20object%2C%20TValue%20extends%20null%20%7C%20undefined%3E%20%3D%20NonNullable%3C%0A%09%7B%20%5BK%20in%20keyof%20T%5D%3A%20TValue%20extends%20T%5BK%5D%20%3F%20K%20%3A%20never%20%7D%5Bkeyof%20T%5D%0A%3E%0A

[2019-01-14 19:59] piotrwitek commented on #53
@levenleven
Although they might seem useful API surface will expand making it complex and hard to learn.
Now I think that maybe it would be better to add more generic types to allow consumer for better composability making it easier to master and allowing for even better flexibility and extendability:
[code]

What do you think?

[2019-01-14 20:06] piotrwitek commented on #50
I'm blocking the release for the moment mainly because there are few other API proposals and until all of them are sorted out I don't want to make a mistake and introduce some breaking changes in the process.

[2019-01-15 06:35] levenleven commented on #53
I think `ExtractKeys`/`ExcludeKeys` are good for flexibility, but I'd also include shortcuts to `RequiredKeys` and others.

Now regarding names:
1. Key helpers - maybe it would be clearer if we'd call them `ExtractKeysOfType` or `KeysAssignableTo`?
2. Property set helpers (not sure if needed or in scope of this proposal) - `PickNullable`, `PickOptional` etc.

[2019-01-15 11:47] piotrwitek commented on #53
I agree we could greatly benefit from both general helpers and shortcuts.

## New API Proposal for extending Pick/Omit and Object-Keys Helpers

### General: (we need to have consistent convention between `Keys` and `Pick` helpers and have variations for matching by assignability and exact type)
- KeysIncludingType<TObj, TValue> (will grab unions)
- KeysExcludingType<TObj, TValue> (will grab unions

[2019-01-15 21:02] piotrwitek commented on #53
I understand your semantics argument, but in reality Partial equals Optional. In general I think Optional would be a better name and for that reason I think the best would be to use OptionalKeys and create an alias (Optional) for Partial as well to keep the API consistent.

[2019-01-16 03:12] malash commented on #53
I find a bug in the StackOverflow version.

[code]

[2019-01-16 03:44] malash commented on #53
And another issue is that how to handle `{ d: number | undefined }` ?

Should its `RequiredKeys` be `'d'` or `never` ?

[2019-01-16 03:54] malash commented on #53
@piotrwitek I think it could be better if we create a new issue for the new API proposal ?

[2019-01-16 03:57] levenleven commented on #53
@malash see above working version.

Regarding `number | undefined` - I think this should be treated as optional, because what `?` essentially does - is adding undefined to the type (with strictNullChecks of course)

[2019-01-16 05:16] malash commented on #53
[code]

`A` is still `{ a: number | undefined }`

[2019-01-16 12:16] levenleven commented on #53
@malash interesting, seems you're right. We'll need to tweak Required/Optional resolution

[2019-01-16 13:05] eps1lon commented on #53
Depending on the implementation (`Object.prototype.hasOwnProperty` can make a difference here) those are not the same thing. The first one still requires explicitly setting `a` to `undefined` while you can do this implicitly with the second one by omitting `a`. You could argue that `Required` is working as intended.

[2019-01-16 14:41] eps1lon commented on #53
Right because I would argue that `RequiredKeys` should include `number | undefined`. After all the **key** is required. Just not the **value**.

[2019-01-16 23:27] piotrwitek opened #59 "New API Proposal for extending Pick/Omit and Object-Keys Helpers"
I agree we could greatly benefit from both general helpers and shortcuts.

### New API Proposal for extending Pick/Omit and Object-Keys Helpers

**General:**

- PickByValue<TObj, TValue>
- PickByExactValue<TObj, TValue>
- OmitByValue<TObj, TValue>
- OmitByExactValue<TObj, TValue>

- KeysByValue<TObj, TValue> === `keyof PickByValue<TObj, TValue>` - no need to implement
- KeysByExactValue<TObj, TVal

[2019-01-19 10:50] #52 closed

[2019-01-25 17:44] toverux commented on #27
I once used it in an Angular app.
I use the container/component pattern and mostly work with immutable data. Notably, data coming from the API is marked readonly (and objects coming from Apollo should _not_ be modified since they come from its internal Redux cache).

But in some presentational document I had to mutate an object for two-way binding purposes. So I derived the original type with `-re

[2019-01-30 15:10] emilgpa commented on #27
[code]

It is fixed as follows:
[code]

[2019-01-30 15:46] levenleven commented on #27
@emilgpa this can be fixed by just `const copy = { ...this.state };`

[2019-01-30 16:19] emilgpa commented on #27
@levenleven It is not that there is another way to clone an object but a scenario where it may be the case.
It may be that the person wants to use Object.assign for compatibility reasons (without wanting to use babel or any other tool).

[2019-02-07 05:15] ProdigySim commented on #50
What happened to these? It looks like they got merged, but then they were removed from `index.ts`... and are now difficult to import.

[2019-02-14 10:35] #55 closed

[2019-02-14 13:46] roottool commented on #30
I made [API documentaiton webpage](https://utility-types.netlify.com)
This is a [API documentaiton webpage source code](https://github.com/roottool/utility-types-document-site)

Contents and sentence are only in `src/Text/Contents.json` and `src/Text/TableOfContents.ts`.
"Table of contents" is modified by changing `src/Text/TableOfContents.ts`.
Top page is modified by changing `src/Text/Contents.j

[2019-02-14 14:12] piotrwitek commented on #30
@roottool that looks cool, I love it man 💙

Just 2 small changes in would like to suggest:
- sidebar is open by default (hidden on mobile only)
- TOC in the side bar could use a smaller font and grouping could be different, like this:
   - TypeScript utility-types
   - Flow utility-types
   - Deprecated

Also we would need a readme with explanation how to update contents when API changes, workflow

[2019-02-14 14:12] piotrwitek opened #63 "WE NEED A LOGO! Help us with your awesome design skills :nail_care:"
Now that we have a cool website proposal #30, it would be awesome if we have a rad logo that we can put there!

I'm accepting design proposals! *(Please note that I will reject any "troll ideas" or bad quality designs)*

Anyone can vote with 👍 and 👎 and I'll choose the most popular one.

[2019-02-14 16:01] Kingwl opened #64 "TestCase for the types"
Hi, Thanks for your working.
I noticed that there was no test in the repo.
And i wrote a tools maybe helpful for the type test:  https://github.com/HearTao/ts-baseline
That was extracted from the typescript test runner

[2019-02-14 18:20] piotrwitek commented on #64
Hey, not sure what you mean but code-base is 100% covered with type-tests.
Also please note this is not a good place for advertisements so do not spam issue board.

[2019-02-14 18:20] #64 closed

[2019-02-21 11:27] gurungrahul2 commented on #34
@mohsen1 @piotrwitek I would like to take this, can you get me started please.

[2019-02-21 16:53] piotrwitek commented on #34
@gurungrahul2 That's awesome!

1. First step would be to copy all the examples from README to the source files like this (note I removed import and moved "Expect" on top):
[code]

2. Second step is to parse source files to generate a markdown based docs static website. One way is to use a full documentation generator to generate a website from source files (I'm open to suggestions if you can find

[2019-02-21 18:58] gurungrahul2 commented on #34
@piotrwitek I am working on 1, and I will take 2 after it, I will ping you if I have queries, on it.

[2019-02-21 19:02] piotrwitek commented on #34
@gurungrahul2 that's cool! Let me know when you'll be approaching (2), I'll try to help as much as I can.

[2019-02-21 19:36] mohsen1 commented on #34
note that the JSDoc markdown doesn't support triple backtick code blocks. You must indent code blocks.

[2019-02-21 21:01] piotrwitek commented on #34
@mohsen1 could you be more specific about what are you referring to? is it @example directive or what?

[2019-02-21 21:02] airtoxin opened #66 "Proposal Brand type"
branded type is known as nominal type in other language.

Demo

[code]

Reference: https://michalzalecki.com/nominal-typing-in-typescript/

Naming of `_brand` property  and `Brand` type is convention in typescript team.
https://github.com/Microsoft/TypeScript/search?utf8=%E2%9C%93&q=brand&type=

[2019-02-21 22:11] mohsen1 commented on #34
JSDoc is not that well specified but in most tools I have used the triple backtick was not working. It's not specific to a single directive like `@example`.

[2019-02-21 22:29] piotrwitek commented on #66
Ok, looks good. Accepting PRs.

[2019-02-22 08:02] piotrwitek commented on #34
Thanks @mohsen1, I got it now.

[2019-02-23 12:38] #34 closed

[2019-02-23 13:10] gurungrahul2 commented on #30
Hey @roottool , great work, just wanted to ask are you still working on this? It has been inactive for 9 days, ping if you are on it, If not, I am taking up the issue.

[2019-02-23 13:20] piotrwitek commented on #30
Not sure about @roottool solution, but it seems to me it's maintained by hand.
If that is really the case I'm afraid we need something better, automatic, nobody would like to keep it at sync by hand.

I updated an original post with new requirements describing a proposal of a suitable solution for our case.

[2019-02-23 13:24] gurungrahul2 commented on #30
I got what you said on that comment, I'm starting work on it, will discuss further queries here. @piotrwitek

[2019-02-23 13:50] roottool commented on #30
Sorry, I was busy this week. I didn't work it this week.

I confirmed your suggestion.
I have a one question.
What belongs to `TypeScript utility-types`?
Does it include `Operations on sets` and `Operations on objects` contents?

Thank you for a suggestion for how to create PR.
I will try to work it from tomorrow(Currently 10:40PM Japan Standard Time).

[2019-02-23 13:54] piotrwitek commented on #30
Hey @roottool, no problem.
Suggestions are not very important for now.

My biggest concern is how do you update content on your website, is it manual or automatic based on source code?

[2019-02-23 14:00] roottool commented on #30
Now, I suppose manual based on source code changes.
Because I don't have an automatic solution.

[2019-02-23 14:10] piotrwitek commented on #30
I understand @roottool, so then please check the proposed solution here which is the solution I would like to have: https://github.com/piotrwitek/utility-types/issues/30#issue-361592589

Unfortunately, a manual solution is not good for the maintainers of this project.

[2019-02-23 15:53] roottool commented on #30
I understand @piotrwitek.
I will check it and think about this solution.

[2019-02-24 13:19] gurungrahul2 commented on #30
@piotrwitek Can you give me an example of making a website from source? I mean how will be the overall representation of data, like I know we added JSDoc but I am confused. Are they going to show up all in a single page? Only those comments are going to show up in website ?

[2019-02-24 13:21] gurungrahul2 commented on #30
I tried EsDoc https://esdoc.org/ but what it generated was a website version of README.md not sources (as far as it looked).

[2019-02-24 13:28] piotrwitek commented on #30
Have you tried play with config in ESDoc? https://esdoc.org/manual/config.html
It looks like you can configure to mix both source files and readme together.

Also I don't know ESDoc support typescript source files. The ones I linked have typescript support because they are using babel for parsing which supports TypeScript natively.

[2019-02-24 14:49] ersimont opened #69 "New Suggestions"
I don't know how or if you'd like suggestions like this, but I just found this library, I'd like to use it, and it would be cool to get some more of the utility types I use from here. Happy to move any of these that sound interesting to a separate issue, or to just close this if none of them do.

[code]

[2019-02-24 14:53] gurungrahul2 commented on #30
It has a plugin for Typescript, but it recognized only one function, are you sure we documented it the right way and it is parsable into website, saying so because @param @returns are not there in most comments, I think it should be there, is it ?

[2019-02-24 19:06] piotrwitek commented on #30
You can easily confirm that by adding the missing comments and see if that
function is added to the generated site

On Sun, Feb 24, 2019, 3:53 PM R. Gurung <notifications@github.com> wrote:

[2019-02-24 21:34] #66 closed

[2019-02-24 22:23] piotrwitek commented on #69
Hey @ersimont, thanks for the suggestion, let me go through them one by one:

- ClassFor - not really useful for a generic library like this, should be declared locally
- ObjectWith<T> === Record<string, T> - redundant
- Primitive - OK, this might be a common use-case
- Existant - it's a rather rare case I would just use it inline
- Nil === void - redundant
- Falsey - I don't understand how that m

[2019-03-01 17:26] gurungrahul2 commented on #30
hey, lets try https://github.com/Microsoft/tsdoc with https://typedoc.org/ , I may need to make changes in comments but I will come up with a website soon.

[2019-03-01 19:13] piotrwitek commented on #30
Hey @gurungrahul2 could you show me an example of what the results will looks like?

What is main requirement for me is smooth scroll navigation like here: https://docsify.js.org/#/configuration?id=repo

I don't want page to be reloaded like here (which is super awkward these days): https://typedoc.org/api/index.html

[2019-03-02 04:07] ersimont commented on #69
Thank you for taking the time to look at these. Thanks for pointing out the ones that already exist by another name! Let me know if you want a separate issue filed for `Primitive` or anything like that.

You asked about `Falsey`. I used it for [my implementation of compact](https://github.com/simontonsoftware/micro-dash/blob/master/projects/micro-dash/src/lib/array/compact.ts#L11):
[code]

[2019-03-02 14:27] piotrwitek commented on #69
@ersimont Ok now I see it better, I would add:
[code]
You can put them in the top of mapped-types file and please include @example jsdocs. Then add a new section in TOC called "Aliases" (it should be a new first section now).

Please open single new PR for adding both.

BTW: I also improved your `compact` function declaration to retain correct type-soundness:
[code]

[2019-03-02 15:45] ersimont commented on #69
PR filed. Thanks for the suggestion about `compact`. That let me remove the first `| Falsey` too:

[code]

[2019-03-04 14:35] roottool commented on #30
I updated [the previously created page](https://roottool.github.io/utility-types/).
And I created [ a readme with explanation how to update contents when API changes](https://github.com/roottool/utility-types/blob/create-document-page%2330/docPageSrc/README.md).

This site is created by React.
When you execute commands in [how-to-deploy](https://github.com/roottool/utility-types/blob/create-docume

[2019-03-05 16:52] gurungrahul2 commented on #30
@roottool don't you still have to manually update contents? what we are looking for is to directly parse comments and convert them into a website. It's easy to convert markdown into a website but the problem is converting comments into markdown or comments directly into the website.

[2019-03-05 18:55] roottool commented on #30
No, it is necessary to manually write the description for the page apart from comments in the source file.
I was sticking to my way. Sorry.
So I tried [typedoc](https://typedoc.org).
By simply executing one command, you can build a document page automatically using comments in the source file.
[Page sample](https://roottool.github.io/utility-types/)
We need to adjust CSS and modify `example` in co

[2019-03-05 19:10] piotrwitek commented on #30
@roottool you're site looks really nice, but there are still couple of issue I would like to address:
- I would like to remove all API reference from README.md so it would contain only welcome page for the website
- API reference will be autogenerated using source-files -> each source file will generate a single markdown file that will be later rendered on the website as respective subpages
- side

[2019-03-06 00:07] roottool commented on #30
I tried updating [the website](https://roottool.github.io/utility-types/index.html).

I removed it.
![capture](https://user-images.githubusercontent.com/11808736/53844945-ae427980-3fea-11e9-90d1-c24616c1d5d1.PNG)

I moved categories from right to left.
![capture2](https://user-images.githubusercontent.com/11808736/53844966-bc909580-3fea-11e9-9204-5e7999ded749.PNG)
![capture3](https://user-images.g

[2019-03-06 16:57] piotrwitek commented on #30
@roottool thanks for your investigation 👍
I have to be honest with you, that site doesn't look pretty at all ;)

What's the issue with `example` comment tag? Can't the source be somehow formatted? have you tried using (```)

[2019-03-06 19:18] roottool commented on #30
I see. This site's CSS is almost a default CSS generated by [Typedoc](https://typedoc.org/).
So I have to customize a default CSS.
I will modify CSS after I grasp your ideal and concrete site design.
I am not a website designer so I don't know I can realize your ideals.

No, I try it yet. Because I don't know whether to proceed with website creation with [Typedoc](https://typedoc.org/).
But It wil

[2019-03-06 23:55] piotrwitek commented on #30
@roottool I don't think custom CSS is a good idea, because it would require a lot of effort. I would prefer to use ready out-of-the-box solution like docsaurus.
The only problem to solve is to figure how to use: https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-TypeScript
I'm not sure how hard it is, I can check tomorrow.

[2019-03-11 03:44] roottool commented on #30
I checked creating `.md` file with [jsdoc-to-markdown](https://github.com/jsdoc2md/jsdoc-to-markdown). It needs [a hacky fix](https://github.com/jsdoc2md/jsdoc-to-markdown/wiki/How-to-document-TypeScript#jsdoc-comments-disappear).
And other way, I checked that [typedoc-plugin-markdown](https://github.com/tgreyuk/typedoc-plugin-markdown) can create `.md` file as below.
![capture_build_example](http

[2019-03-14 14:03] piotrwitek commented on #30
Thanks a lot @roottool for your help. I'll pick it up after I'm back from vacation.

[2019-03-30 23:32] florianherrengt opened #71 "Brand is not exported"
`import { Brand } from "utility-types"` throws an error "Module  ... has no exported member 'Brand'"

v3.4.1

[2019-04-02 08:30] airtoxin commented on #71
Not released yet...

[2019-04-02 08:41] florianherrengt commented on #71
Is there anything I can do to help for the release?

[2019-04-02 10:55] piotrwitek commented on #71
Published v3.5.0

[2019-04-02 10:55] #71 closed

[2019-04-05 12:08] goodmind opened #72 "Add new alias: mixed"
Should this also include

[code]

?

Also it would be more  useful if all Flow types would be globals

[2019-04-12 16:58] Akuukis opened #73 "Omit type doesn't work for deconstructor with rest"
Please see the minimal reproducible example below and questions inline.

[code]

[2019-04-12 17:42] piotrwitek commented on #73
`Omit` is wrapped in conditional type and it's distributive so this works:
[code]

Historically it was introduced by some user request, I was not really sure about this change but now I think it's actually more harmful than useful.

I might bring back previous behavior which was non-distributive.

What do you think?

[2019-04-12 18:44] Akuukis commented on #73
I dig deeper and found another difference. I think that first scenario looks best if it worked.
[code]

[2019-04-12 18:54] Akuukis commented on #73
Typescript has [in-build](https://github.com/Microsoft/TypeScript/wiki/Breaking-Changes#typescript-35) `Omit` in dev branch. I just check that with `Omit` from `typescript@3.5.0-dev.20190412` second snippet doesn't typechecks neither commenting out `public caseA: ...` nor `public caseB: ...`. Perhaps this issue should be better re-addressed to them?

[2019-04-23 09:33] piotrwitek opened #75 "Add new type: ValuesType"
Proposal to add ValuesType, looking for feedback:

[code]

[2019-04-23 09:47] levenleven commented on #75
I think `{ [K in keyof T]: T[K] extends any ? T[K] : never }[keyof T]` part can be simplified to `T[keyof T]`

[2019-04-23 12:09] piotrwitek commented on #75
@levenleven agreed! I corrected the proposal, thanks!

[2019-04-23 13:55] levenleven commented on #75
Another suggestion regarding constraints. I find them a bit restrictive
1. `any []` - maybe it is enough to just require `ArrayLike<any>` so readonly arrays will also work
2. `Record<string, any>` - maybe just `object`? Is it needed at all?

[2019-04-25 11:47] thomasvanlankveld opened #76 "_DeepReadonlyArray does not count as array"
For the following code:

[code]

I get:

[code]

[2019-04-25 12:20] zepatrik commented on #50
currently:
[code]

[2019-04-25 19:35] piotrwitek commented on #76
Hey, thanks for the report I know how to fix it

[2019-04-25 19:51] piotrwitek commented on #76
Ok I double checked, and the error is ok because your code is not safe at runtime.

If your structure is Readonly it cannot have methods like pop because it's mutable method.

here is a correct constrain
[code]

[2019-04-25 19:52] #76 closed

[2019-04-25 19:56] piotrwitek commented on #50
I'll have some time during weekend, so hopefully I can finish the proposal for this API and make it public

[2019-04-25 20:04] piotrwitek opened #77 "HELP US TO GET FUNDS - upvote on IssueHunt platform"
By upvoting you'll help to bring the attention of various sponsors that could fund the work on the most important issues in this project.
Much appreciated!

Here is the link: https://issuehunt.io/r/piotrwitek/utility-types

![Screenshot 2019-04-11 at 5 59 11 PM](https://user-images.githubusercontent.com/739075/55972413-bba2f180-5c83-11e9-88e8-5ed6547e69fd.png)

[2019-04-25 20:09] piotrwitek commented on #75
@levenleven As far as I tested any[] works with readonly arrays
Record<string, any> is much better than object, but optimal would be Record<any, any>

[2019-04-25 20:21] piotrwitek commented on #73
@Akuukis Now it struck me that it might be related to the first example, no? :https://github.com/Microsoft/TypeScript/issues/28884

Sorry but the second example is unreadable to me, you should try to reduce and simplify it to a minimum possible.

[2019-04-25 20:24] piotrwitek commented on #72
mixed proposal looks good 👍

For globals, I don't agree as other users not needing it might not like it.
You can do such thing yourself in your application, just declare them yourself from d.ts.

[2019-04-25 20:26] piotrwitek commented on #69
It was merged, closing

[2019-04-25 20:26] #69 closed

[2019-04-25 20:33] piotrwitek commented on #27
Ok let's include this type, I agree with the @emilgpa argument that there might be some cases where you would want to reverse operation of DeepReadonly helper or clone immutable object to mutate it.

Accepting PRs.

[2019-04-25 21:14] piotrwitek commented on #73
Here is the simplification of your issue:
[code]

And changing Omit to this fixes the issue:
[code]

[2019-04-25 22:57] goodmind commented on #72
I mean if primary goal is migrating from Flow then globals make more sense

[2019-04-25 23:11] piotrwitek commented on #19
I'm going to rollback the change from this proposal aiming to increase convenience for union types because it is breaking Generic Types support, which for me is more important to make it work (especially breaking in usage with Higher order components).

Consider these examples, which are all broken when Omit become distributive:
[code]

[2019-04-26 09:06] thomasvanlankveld commented on #76
Good call, the suggestion solves my problem, thanks!

[2019-04-27 22:03] piotrwitek commented on #73
Also the new Omit is now the same implementation as build-in Omit coming in TypeScript v3.5

[2019-04-27 22:04] #19 closed

[2019-04-27 22:04] #73 closed

[2019-04-27 22:08] piotrwitek commented on #19
Also, the previous `Omit` was not consistent with `Pick` and incompatible with build-in `Omit` coming in TypeScript v3.5.

Now it's fixed.

[2019-04-28 16:24] #50 closed

[2019-04-28 16:24] #53 closed

[2019-04-28 16:24] #59 closed

[2019-04-28 17:52] steida opened #80 "3.6.0 bug"
I just updated and my code is broken. I extracted the problematic part.

[code]

[code]

[2019-04-28 18:12] piotrwitek commented on #80
Hey @steida
New `Omit` is not preserving an optional property modifier.

I'll fall back to my previous implementation to fix the issue.

Now the other problem is that the new Omit is a built-in TypeScript type coming in v3.5 which is apparently broken and I wonder if there is a bug filled for it.

[2019-04-28 18:14] piotrwitek commented on #80
@steida Also there is a bug in your code snippet: Property 'children' is missing in type '{ prefetch: true; href: { pathname: "/"; }; }' but required

[2019-04-28 18:20] piotrwitek commented on #80
Fixed by https://github.com/piotrwitek/utility-types/releases/tag/v3.6.1

[2019-04-28 18:20] #80 closed

[2019-04-29 05:13] gurungrahul2 commented on #30
@piotrwitek can I have a look?

[2019-04-29 05:55] levenleven commented on #75
Here's an example where it doesn't work with readonly arrays:
[code]
See result of `ValuesType<typeof arr>`
[Playground](https://www.typescriptlang.org/play/index.html#src=export%20type%20ValuesType%3CT%20extends%20any%5B%5D%20%7C%20Record%3Cstring%2C%20any%3E%3E%20%3D%20T%20extends%20any%5B%5D%0A%20%20%3F%20T%5Bnumber%5D%0A%20%20%3A%20T%20extends%20Record%3Cstring%2C%20any%3E%0A%20%20%3F%20T%5Bke

[2019-04-29 10:50] piotrwitek commented on #75
Thanks for the example now I understand 👍 The problem is this is it's a tuple not a read-only array, which needs a special case treatment a `length` property which ArrayLike implements.

Yeah, I agree we should go with ArrayLike condition.

[2019-04-29 11:08] piotrwitek commented on #30
Hey @gurungrahul2,
You can take a look but I'm planning to investigate it myself first to find the right solution because all of the solutions proposed above are not acceptable.

Also I would like to see a working proof-of-concept before any real work on this issue starts so I can see that it's the right and working solution.

Then I will open this ticket to accept PR's based on the proposed solut

[2019-05-07 10:07] #72 closed

[2019-05-22 12:16] bboydflo opened #83 "omit is also built in"
## Description

The docs mention the built-in types, but not for the newly added `Omit`

## Expected behavior
Omit -> Omit (built-in) in the docs

## Suggested solution(s)
Omit -> Omit (built-in) in the docs

[2019-05-22 15:04] #83 closed

[2019-05-24 18:04] Favna opened #85 "[New type request] Flatten<T>"
## Is your feature request related to a real problem or use-case?

In the fuzzy searching library [Fuse.JS](https://github.com/krisk/Fuse) it is supported to search for deep nested keys by giving them as `['leve1.level2.level3']` etc. However making a typing of this system is very hard (to be frank, I haven't even figured it out at all yet) given a single type `T`. Being able to supply `Flatten<T>

[2019-05-24 18:39] piotrwitek commented on #85
Hey, unfortunately proposed solution is not possible to achieve in Typescript. The solution that is possible is to use array of strings instead of concatenated strings as keys. Let me know if that is something  supported by Fuse.
[code]

[2019-05-24 18:51] Favna commented on #85
Ah that's a real shame. Unfortunately, at least as far as I know that is not an option for Fuse. I suppose maybe in some future release of TS they'll make a feature like this possible but I kind of doubt it sadly.

(Likewise do I doubt it would get enough traction when requesting it there)

[2019-06-18 08:26] 9SMTM6 opened #86 "BigInt Support"
## Is your feature request related to a real problem or use-case?
Adding BigInt to the Primitive type as [its slated to become one](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt).

## Describe a solution including usage in code example
[code]

## Who does this impact? Who is this for?
Users using the Stage 3 Proposal of Bigint and [Typescript >=3.2](https:

[2019-06-18 22:18] piotrwitek commented on #86
Hey @9SMTM6, thanks for the proposal, I think it's a valid suggestion and JS shouldn't be a concern of this library as we're not using it and consumer is responsible for its own polyfills.

Accepting PR.

[2019-06-23 11:35] 9SMTM6 opened #88 "Add type guards for some simple types"
## Is your feature request related to a real problem or use-case?
Yes. Type guards are a nice solution for type-flow in typescript.

## Describe a solution including usage in code example
[code]

## Who does this impact? Who is this for?
All the users that have to support a more universal API and want to test for specific usecases with immediate TS support without explicit casting or having to wri

[2019-06-23 15:09] piotrwitek commented on #88
Hey @9SMTM6, thanks for a suggestion, I agree this looks like a nice addition. Accepting PRs!

[2019-06-23 23:17] #86 closed

[2019-07-05 04:16] vhenzl opened #93 "Feature request: New type `Required<T, K>` to complement `Optional<T, K>`"
Created as per https://github.com/piotrwitek/utility-types/pull/82#issuecomment-491581958

Implementation should be straightforward:

[code]

Not sure about naming. Can't be `Required` as it conflicts with the built-in type. Any better idea than `SomeRequired`?

[2019-07-06 22:21] #88 closed

[2019-07-13 12:22] Harshit369 opened #94 "New Type: `Arguments` to return arguments of function"
Requesting a generic `Arguments<F>` or `Args<F>` to extract out argument types of the passed function type. I have implemented it locally as:

[code]

It would be nice to have it here.

[2019-07-14 14:04] levenleven commented on #94
Typescript has builtin `Parameters` utility which does exactly this

[2019-07-15 13:59] piotrwitek commented on #93
`Required` is fine, as it's a superset and is compatible with native Required so
Local imports will not break any of the global references.

[2019-07-16 19:41] Harshit369 commented on #94
@levenleven thanks for the info. I was using own custom declaration till now & wasn't aware of that. I am now.

[2019-07-17 18:14] piotrwitek commented on #94
I assume it could be closed now, no?

[2019-07-17 18:14] #94 closed

[2019-07-19 18:07] ssalka opened #96 "Export alias `Falsy` for existing `Falsey`"
## Is your feature request related to a real problem or use-case?
It's a real problem to me; I prefer to spell this word as `Falsy`, not `Falsey`.

## Describe a solution including usage in code example
Add the following to `mapped-types.ts`:
[code]

## Who does this impact? Who is this for?
Spelling-sensitive users of this wonderful library such as myself 🙂

## Describe alternatives you've consid

[2019-07-19 18:26] piotrwitek commented on #96
Hey @ssalka,
I agree with you, Falsy is far more common and also seems like a more correct form, although Falsey is acceptable.

I accept this proposal.
For now, we would add an alias `Falsy` deprecating the use of Falsey to be removed in the next major version.

[2019-07-31 14:17] Favna commented on #85
Doesn't really change anything about being possible in TypeScript or not but I just wanted to update this issue since I've been messing around a bit today and I found some interesting stuff imho. Given these types:
[code]

a union of `("ticketId" | "title" | "assignedTo" | "assignmentGroup" | "shortDescription" | "workflow" | "inputParameters" | "outputParameters" | "steps" | "displayName")[]` can

[2019-09-04 14:20] dimitropoulos opened #98 "Opaque type"
## Is your feature request related to a real problem or use-case?

A clear description of the problem has already been written in [this](https://codemix.com/opaque-types-in-javascript/) blog post.  A fun example of why this matters (lives could be at stake! (only kinda kidding)) can be viewed [here](https://news.ycombinator.com/item?id=15942370).

Also, this is a feature Flow has that TypeScript d

[2019-09-20 21:01] piotrwitek commented on #98
Hi, we already have Brand type: https://github.com/piotrwitek/utility-types#brandt-u

Also google Brand typescript for more info.

[2019-09-20 21:01] #98 closed

[2019-09-21 08:12] #75 closed

[2019-09-23 09:51] dimitropoulos commented on #98
great. thanks.  Would you consider a PR that would simply add "Similar to Opaque types from Flow" to Brand's description?

[2019-09-23 14:29] piotrwitek commented on #98
@dimitropoulos yes sure, sounds good!

[2019-09-23 18:25] dimitropoulos commented on #98
https://github.com/piotrwitek/utility-types/pull/102

[2019-09-24 21:23] #93 closed

[2019-09-25 09:31] #77 closed

[2019-09-25 10:19] piotrwitek commented on #85
Closing as the initially requested type is impossible to do currently in typescript.
Regarding the second request `SumOf` type, feel free to create a new issue to investigate.

[2019-09-25 10:19] #85 closed

[2019-10-01 08:37] kidkkr opened #104 "There is Flow typing syntax In TypeScript example of `ValuesType`."
Maybe should be fixed without `$`?
[code]

[2019-10-01 19:32] #104 closed

[2019-10-01 19:33] piotrwitek commented on #104
Thanks @kidkkr!

[2019-10-01 21:24] aaronjensen opened #106 "Allow DeepReadonly to be applied more than once"
## Is your feature request related to a real problem or use-case?
I'm building a redux state type from other existing types. For some of the child types, we'll want to use `DeepReadonly` to make them immutable. Then, at the very top level (the combined state) I want to use `DeepReadonly` again to ensure that everything is actually immutable.

Unfortunately, this double application causes issues in

[2019-10-01 21:27] aaronjensen commented on #106
It appears that changing `T extends any[]` to `T extends ReadonlyArray<any>` fixes my particular issue. I'll open a PR w/ that.

[2019-10-04 07:57] #106 closed

[2019-10-04 10:46] #96 closed

[2019-10-21 07:14] dosentmatter opened #112 "Add new type: `Mutable<T, K>` (`AugmentedMutable<T, K>`),`AugmentedReadonly<T, K>`, and maybe `AugmentedPartial<T, K>`"
## Is your feature request related to a real problem or use-case?

Related to #27. I added `Mutable<T>` in #111.

For optional properties, we have `Optional<T, K>` and `Required<T, K>` (`AugmentedRequired<T, K>` in our codebase).

To be consistent, we should also havee `AugmentedMutable<T, K>` and `AugmentedReadonly<T, K>`.

Maybe we should even have `AugmentedPartial<T, K>` (although `Optional<T,

[2019-10-21 10:19] dosentmatter opened #113 "Add `null | undefined` to `Primitive` and `isPrimitive`"
## Is your feature request related to a real problem or use-case?

See:
https://www.typescriptlang.org/docs/handbook/basic-types.html#object

Currently, we have `export type Primitive = number | bigint | boolean | string | symbol;`. We are missing `null` and `undefined`.

The [complete list](https://mariusschulz.com/blog/the-object-type-in-typescript) is

## Describe a solution including usage in

[2019-10-21 10:41] dosentmatter opened #114 "Add new type: `DeepMutable<T>`"
## Is your feature request related to a real problem or use-case?

Related to `#27` and `#111`.
We have `DeepPartial<T>`, `DeepRequired<T>`, and `DeepReadonly<T>`. We should also add `DeepMutable<T>`.

Similar to #112, maybe we should have a `DeepOptional<T>` that would be an alias of `DeepPartial<T>`.

## Describe a solution including usage in code example

[code]

## Who does this impact? Who is

[2019-10-21 18:33] dosentmatter opened #115 "DeepXXX<T> code consistency"
## Is your feature request related to a real problem or use-case?

We have `DeepReadonly<T>`, `DeepMutable<T>` (added in #114), `DeepRequired<T>`, `DeepNonNullable<T>`, and `DeepPartial<T>`. We should have consistency in their code.

## Describe a solution including usage in code example

Proposed changes are below with inline comments:
[code]

`_DeepXXXArray<any>` vs any[] and `_DeepXXXObject<inf

[2019-10-21 20:48] piotrwitek commented on #115
Hey @dosentmatter,
Thanks for great analysis and suggestions. I completely agree with you, that it would be great to have these types updated.
Contributions are welcomed! ❤️

[2019-10-21 21:00] piotrwitek commented on #113
Hey @dosentmatter
This is a valid point and I agree with that.
Contributions welcome!

[2019-10-21 21:03] piotrwitek commented on #114
Hey, thanks for the suggestion, it would be great to have this type.
Contributions are welcome!

[2019-10-21 21:17] piotrwitek commented on #112
Hey @dosentmatter,
Thanks for the suggestion.
Regarding consistency, I think it is a good idea to make API surface more intuitive by adding missing aliases for OptionalKeys -> PartialKeys, and AugmentedPartial.
Although be aware AugmentedPartial is only internal name not meant to be used in public API. We would use just `Partial` or alternatively some other but concise name.

[2019-10-22 06:38] dosentmatter commented on #112
@piotrwitek, thanks for the response. Yeah, I understand that the AugmentedXXX are internal names. For example, `AugmentedRequired` instead `Required` so that we don't name mask the built-in TypeScript `Required`. I am just using `Augmented` to refer to types that have key selection by `K` ie. `<T, K>` since `Augmented` is easier to read than `<T>` vs `<T, K>`.

Also, even for non-built-ins like `

[2019-10-22 07:32] #49 closed

[2019-10-22 07:59] piotrwitek commented on #112
1 - 4) 👍
5) Yes, let's add DeepOptional, it doesn't cost us anything (just creating alias and adding a small mention in type description in docs) but I guess that some ppl would really like that, maybe even I'll be using it because of OptionalKeys disjointed name.
6) I really like your reasoning here, although it will keep them disjointed, it should still remain intuitive. Let's Skip.
7) Skip

[2019-10-22 08:51] #27 closed

[2019-10-22 16:49] dosentmatter commented on #30
A negative of using babel based docgens is that we would have to maintain babel compilation of our source along with TS. Also, there are some [caveats/missing features](https://babeljs.io/docs/en/babel-plugin-transform-typescript#caveats) when using babel for TS. I see that we are using `namespace` for `Pick`.

I tried `typedoc` myself and it works right off the bat. @piotrwitek, if you less page

[2019-10-22 17:03] piotrwitek commented on #30
Thanks for the analysis @dosentmatter. To be honest I don't like `typedoc`, it has bad UX and is hard to use. I need some time to tinker with jsdoc2md to cook own solution.

[2019-10-28 21:39] #113 closed

[2019-10-29 11:49] SimenB commented on #27
Would be lovely to have `DeepMutable` as well 🙂 To mirror `DeepReadonly`

[2019-11-08 15:50] vatosarmat opened #123 "keyof PickByValue<ObjectWithOptionals, SomeType> gives union with `undefined`"
## Description

`PickByValue`, `PickByValueExact` and maybe other operators `Pick`ing keys union created via "conditional mapping" produce types with "hidden" `undefined` key when used on type with optional properties. Applying `keyof` to such types gives `ACTUAL_KEYS | undefined`.

Details and suggested fix here:
https://github.com/microsoft/TypeScript/issues/34992

## Steps to Reproduce
[Playgro

[2019-11-08 19:40] piotrwitek commented on #123
Suggested fix looks good, let's make it happen! Accepting PRs.

[2019-11-09 10:20] #123 closed

[2019-11-21 00:53] steida opened #126 "Brand type vs smart constructors"
I don't get why unique symbol is used?

[code]

It's because it's more robust? (ensures uniqueness across modules / packages)

https://dev.to/gcanti/functional-design-smart-constructors-14nb

[2019-11-26 00:53] steida commented on #126
OK, I got it. This is recommended https://github.com/gcanti/io-ts#branded-types--refinements

Maybe docs should be updated.

[2019-11-26 00:53] #126 closed

[2019-12-17 14:05] 9SMTM6 opened #128 "A way to validate a const-asserted type (non-widening literal)"
## Is your feature request related to a real problem or use-case?

As most of you probably know Typescript 3.4 added the 'as const' assertion to get a non-widening type literal with object attributes set as readonly (in typescript).

Now that construct in itself is very valuable. But since the beginning I was irked by the fact that AFAIK theres no clean way to validate such a type, the very thing

[2019-12-19 13:15] davydkov opened #129 "DeepOmit<T, K> type"
## Is your feature request related to a real problem or use-case?
Yes, for instance to exclude `__typename` field from generated GraphQL type
As a reference - [question on stack overflow](https://stackoverflow.com/questions/55539387/deep-omit-with-typescript)

## Describe a solution including usage in code example
Proposed solution (works for typescript 3.7, but I have not tested with union types)

[2019-12-19 23:52] piotrwitek commented on #129
Hey, thanks for the suggestion.
Use-case seems legit and the type is not too crazy so I would opt to include it.

What could be possible caveats? What about union types?

[2019-12-23 02:05] branchard opened #130 "Add new type: Flip<T>, FlipOptional<T>, Invert<T> or InvertOptional<T> (I'm not sure of the name)"
## Is your feature request related to a real problem or use-case?
This type can be usefull to reverse required and optional properties of an object.
Related question: https://stackoverflow.com/questions/57593022/reverse-required-and-optional-properties.

## Describe a solution including usage in code example
Solution:
[code]
Usage:
[code]

## Who does this impact? Who is this for?
TypeScript users

[2020-01-03 09:39] 9SMTM6 commented on #128
@piotrwitek Could I get at least some sort of feedback on this? Is what I'm describing here just a little too much to answer lightly, or is it outside the scope of this packet, or am I missing an obvious other way / an obvious reason you might not want to use it?

I'd just like to know whether or not I should reserve any kind of resources towards a solution here or not, and I think some sort of pr

[2020-01-30 19:48] dimitropoulos opened #132 "Entry/Entries"
I would like to gauge interest in this before making a PR.

## Is your feature request related to a real problem or use-case?

- I am using [Object.entries](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries).
- I am using toPairs ([ramda](https://ramdajs.com/docs/#toPairs), [lodash](https://lodash.com/docs/4.17.15#toPairs)) in the context of a pipe ([r

[2020-02-20 23:05] drewlustro commented on #75
I could be misunderstanding this utility type, but it doesn't look like it works for interfaces:

[code]

[2020-02-25 23:28] piotrwitek commented on #75
@drewlustro actually I have tested and it works.
<img width="323" alt="Zrzut ekranu 2020-02-26 o 12 28 06 AM" src="https://user-images.githubusercontent.com/739075/75296952-e14ed000-582e-11ea-8d75-c23d251b8ced.png">

[2020-04-03 11:09] geopic commented on #51
Hi @piotrwitek, I can work on this issue for you if you'd like me to.

[2020-04-03 19:01] AprilArcus opened #134 "New Type: Forbid<T>"
Proposal: a type which excludes all properties assignable to its parameter. This is useful for enforcing exhaustive destructuring in higher-order-components:

[code]

[2020-04-13 09:08] xiaoxiangmoe opened #135 "change $Values"
[code]

can we change it to

[code]

[2020-04-15 17:15] #135 closed

[2020-04-17 11:02] webberwang opened #136 "Doc errors for Assign"
[code]

[code]

[2020-04-23 23:57] mohsen1 opened #137 "XOR"
## Is your feature request related to a real problem or use-case?

This is from a long discussion in TS issues

https://github.com/microsoft/TypeScript/issues/14094?fbclid=IwAR05mMCDTNFE1xEB1dAbsfsqgDn5QS5ufDoYf1xyJJ8qdx7jStmHHn_KK0Q#issuecomment-373782604

## Describe a solution including usage in code example
[code]
## Who does this impact? Who is this for?
A lot of APIs that return one or anoth

[2020-04-23 23:58] mohsen1 commented on #137
I'm curious to hear your perspective on this because you have a lot of experience with advanced generics

[2020-04-24 02:31] akshgpt7 opened #138 "Mutually exclusive group"
## Is your feature request related to a real problem or use-case?
It'd be a good idea to be able to create mutually exclusive groups for options that cannot coexist.
#### Use cases:
 Many APIs have filters of which exactly one can be used at a time. So to define their schemas, such a feature can prove to be really helpful.
Also, there are many options/flags which cannot be used simultaneously in o

[2020-04-26 09:20] tyankatsu0105 opened #139 "NonUndefined's example is incorrect."
## Description

[code]

@example is not correct.

## Steps to Reproduce

## Expected behavior

[code]

## Suggested solution(s)

## Project Dependencies
- Utility-Types Version: X.X.X
- TypeScript Version: X.X.X
- tsconfig.json:

## Environment (optional)

- Browser and Version: XXX
- OS: XXX
- Node Version: XXX
- Package Manager and Version: XXX

[2020-05-05 13:48] blazery commented on #137
Just curious, how is this any different from using the basic or '|'?
I know the difference between or and xor, but I don't see how this example would benefit from an XOR option.

[2020-05-31 10:36] FaberVitale opened #141 "feature: deno support"
## Is your feature request related to a real problem or use-case?

It is not currently possible to import/run `utility-types` in [deno](https://deno.land/) due to
different way node and deno resolves imports (aka [module resolution](https://www.typescriptlang.org/docs/handbook/module-resolution.html)).

[code]

## Describe a solution including usage in code example

2 Suggested solutions

* Use a

[2020-06-01 09:35] piotrwitek commented on #141
Hey @FaberVitale 

Thanks for creating PR. I'll take a look ASAP and come back to you.

[2020-06-02 14:15] peterreisz opened #143 "Add new type: DeepNullable<T>"
## Is your feature request related to a real problem or use-case?
Started using [ngx-typesafe-forms](https://github.com/dirkluijk/ngx-typesafe-forms) in my angular project. Angular formcontrol can always be `null` too. It would be great have this type, for safely asserting very deep models in tests.

## Describe a solution including usage in code example

Implement as any other deep types:

[code]

[2020-06-04 19:52] tony-scio opened #144 "DeepReadonly should allow circular references in TS 3.9"
## Description
`DeepReadonly` supported circular references in TS 3.8 but not TS 3.9.

## Steps to Reproduce

The following works in TS 3.8.3, but fails in TS 3.9.5:
[code]

The new error is:
[code]

## Expected behavior
It should work like it does in TS 3.8.

## Suggested solution(s)
Not sure.

## Project Dependencies
- Utility-Types Version: 3.10.0
- TypeScript Version: 3.9.5
- tsconfig.json: Do

[2020-06-14 22:53] ScottAwesome commented on #143
Wouldn't this be adequately handled by using DeepPartial for optionals? Or based on their FAQ

`DeepPartial <FormGroup<Invalidated<Foo>>>` or something along those lines.

[2020-06-17 23:23] garycourt commented on #144
I also ran into this issue today.

[2020-06-19 22:41] noelebrun opened #145 "`DeepReadonly` doesn't handle arrays properly"
## Description
When using `DeepReadonly` and there's an array somewhere nested in the object, the array is not properly made readonly.

## Steps to Reproduce
- Use `@typescript-eslint/eslint-plugin` ESLint plugin
- Enable `@typescript-eslint/prefer-readonly-parameter-types` rule which require all parameters to be readonly
- Use `DeepReadonly` with and interface passed as function parameter

## Exp

[2020-07-02 13:32] tony-scio commented on #144
I verified this still repros under TS `3.9.6`. I'm really anxious to upgrade to TS 3.9. Anyone know of a workaround? Or alternative to this library's `DeepReadonly` that is TS3.9 compatible? That's the main thing we use this library for.

[2020-07-08 16:34] captain-yossarian commented on #145
@noelebrun Hi, could you please provide minimum repo ?

[2020-07-08 16:55] captain-yossarian commented on #18
Hi @piotrwitek ,
Do you mean something like this
[code]

[2020-07-09 07:18] piotrwitek commented on #18
Hey @captain-yossarian, I have added the clarification about this type, please check this comment: https://github.com/piotrwitek/utility-types/issues/18#issuecomment-378398472

[2020-07-12 15:14] captain-yossarian commented on #18
@piotrwitek is it possible to run tests on windows? Every time I'm tunning `npm run test:update`, I'm receiving:
[code]

[2020-07-12 15:19] captain-yossarian commented on #18
@piotrwitek I'm not sure it is possible to add second generic argument to $ObjMap as you did it in your [example](https://github.com/piotrwitek/utility-types/issues/18#issuecomment-378398472)
How to asure TS that `MapFn` argument has generic parameter?

[2020-07-13 13:05] piotrwitek commented on #18
It seems that the problem for tests on windows is testMatch path regex

[2020-07-13 13:07] piotrwitek commented on #18
It might not be possible, but it's the goal of this type.

[2020-07-17 15:37] tony-scio commented on #144
@piotrwitek just wanted to mention that this is still an issue w/ the latest TS 4.0 beta.

[2020-07-19 12:43] tony-scio commented on #144
Just in case anyone else is blocked on this, I switched to https://github.com/krzkaczor/ts-essentials which has drop-in replacements for everything I happen to use in `utility-types`, is compatible w/ the latest typescript and is actively maintained.

[2020-08-04 09:30] peterreisz commented on #143
I'ts not that simple, but I choose a different lib and way to solve my problem, so I'm closing this.

[2020-08-04 09:30] #143 closed

[2020-08-06 07:59] SunnyTam opened #147 "I found there is some problem while using Brand and DeepNonNullable"
## Description
I found `Brand` type is not shows properly once it is inside `DeepNonNullable`

You can find some demo below:
https://codesandbox.io/s/recursing-wilbur-9mih7?fontsize=14&hidenavigation=1&theme=dark

## Steps to Reproduce

## Expected behavior
it should shows `Brand<number, 'usd'>` instead of never;

## Project Dependencies
- Utility-Types Version: 3.10.0
- TypeScript Version: 3.9.5

[2020-08-13 17:24] kumar303 opened #149 "$Call with arguments has confusing documentation"
## Description

The documentation for [`$Call`](https://github.com/piotrwitek/utility-types#callt) is unclear:

[code]

What is `returnOfIncrement` and where does it come from?

I read https://github.com/piotrwitek/utility-types/issues/21 but I still don't understand. Thanks for your help.

## Steps to Reproduce
1. Try to port Flow to TS using `$Call` where `$Call` originally was given two argumen

[2020-08-13 17:40] kumar303 commented on #149
Oh! Is this what it should be?

[code]

[2020-08-23 01:04] calvinwyoung opened #150 "Inverse of `Unionize`"
Is it possible to create a type that serves as the *inverse* of `Unionize`?

Specifically, if we have the a type:

[code]

Can we then convert this to:

[code]

I couldn't find anything like this in the documentation — is this possible?

[2020-08-23 01:28] #150 closed, assigned to nobody

[2020-09-03 03:50] dgreene1 opened #151 "Refactoring to utilize new recursive conditional feature"
Please feel free to close this issue @piotrwitek as it’s not really a request. It’s just me wanting to share a cool new feature that Typescript is releasing soon that might help with this library:
https://github.com/microsoft/TypeScript/pull/40002?utm_source=typescript-weekly.com&utm_campaign=typescript_weekly_149&utm_medium=email

But since this is not a concrete request, I will self close the is

[2020-09-11 09:06] piotrwitek commented on #151
Hey @dgreene1,

Thanks for sharing your thoughts, actually it's a pretty good suggestion and I would like it to stay open in the backlog.

PR Welcomed!

[2020-09-11 09:26] piotrwitek commented on #149
Yes, it's a typo in docs, PR is welcomed!

Regarding the OP issue, it's impossible to implement the same behavior using TS as it's used in Flow at the moment, so we are using a simpler alternative.

Maybe the solution here is to change the name/description so it's less confusing. Feel free to suggest something better and open a PR. I'll be happy to help and the community will benefit from it.

[2020-09-11 20:02] kumar303 commented on #149
Ah, great. I just edited on the GitHub site: https://github.com/piotrwitek/utility-types/pull/154

Hmm, I'm not sure. I guess it's fine. I was converting from Flow so I ended up just going with the built-in `ReturnType` in most places instead of `$Call`. I could link to `ReturnType` in the docs if you'd like.

You may be aware already but [`flow-to-ts`](https://github.com/Khan/flow-to-ts) automati

[2020-09-12 06:59] piotrwitek commented on #149
Thanks for the typo fix!

I  think adding the comment and linking to build-in `ReturnType` would be great for inexperienced users :+1: Basically they should work the same.

[2020-09-12 21:48] kumar303 commented on #149
Sure. I proposed this https://github.com/piotrwitek/utility-types/pull/155

[2020-09-17 10:12] piotrwitek commented on #149
I think this can be closed now.

[2020-09-17 10:12] #149 closed

[2020-09-22 13:52] hagevvashi commented on #143
DeepNullable differs from DeepPartial in that each parameter is not optional.

e.g.

[code]

In this example, if we pass it to DeepNullable, at least the attribute first is absolutely present.

Who doesn't want each parameter to be Optional?

Can I send a PR?

[2020-10-24 07:22] cyli2014 opened #156 "$ReadOnly<T> has a typo in its documentation"
## Description

The documentation for `$ReadOnly<T>` seems to have a typo.
[code]

The example shows that `age` is converted to an optional property after being applied `$ReadOnly`. I thinks it's a typo because `age` should be an ordinary readonly property just like `name` and `visible`.

## Steps to Reproduce

1. Refer to [$ReadOnly<T>](https://github.com/piotrwitek/utility-types#readonly2) in [R

[2020-10-24 11:37] cyli2014 commented on #156
BTW, some npm scripts don't work well on Windows. Any plan for compatibility?

[2020-10-25 11:06] piotrwitek commented on #156
You're right, thanks for the fix!

I'm not using windows so I cannot help, but if you can add Windows compatibility it would be great!

[2020-10-26 12:54] cyli2014 commented on #156
Gotcha. Will look into it if time permits. Thanks!

[2020-10-26 12:54] #156 closed

[2020-10-26 14:36] JShabtai opened #158 "Add a "DeepMutable<T>" type"
## Is your feature request related to a real problem or use-case?
An existing (possibly third party) type has nested readonly elements, but it would be handy  to re-use that type and build up the final object which can only be done if the nested fields are updateable (i.e. not read only)

e.g.
[code]

It would be nice to be able to do something like

[code]

[2020-10-27 16:36] erkebek commented on #137
XOR is really useful type. Built-in union type allows a mix of two types, which is unwanted behavior.

[2020-11-09 06:56] xkx9431 opened #159 "what does this `-?` spec? and where I can get such related grammar"
First of all please check our spectrum community chat and we recommend to ask your question there for a quickest response and the indexing in search engines:
- https://spectrum.chat/utility-types

The only good reason to use issue tracker for your questions would be for "special requests" that doesn't fit into bug reports and feature requests categories.
hi , I just read your code , and I want kno

[2020-11-10 09:34] piotrwitek commented on #159
It means to remove optional modifier on object keys.

Please check the mapped types in TS Docs.

[2020-11-10 09:34] #159 closed

[2020-11-20 10:58] phawxby commented on #145
Simple example although not exactly the same as the issue described is probably related.
[code]

Output
[code]

[2020-11-20 11:39] captain-yossarian commented on #145
@phawxby Hi, please take a look on TS [playground](https://www.typescriptlang.org/play?ts=3.9.7#code/JYWwDg9gTgLgBAbzgEQKarAJVQQwCYQB2ANgJ5wC+cAZlBCHAOQCuMwxwMpAtF2KgGdGAKGHBCMVFGo4AxqjgAFHFAGo8ARQGJhcOAG0A1qlIAuOAJhRxAcwC655oTypq49XAA+Fq7a8-rQht9O39lVXUtMJU1TQEQgG5hCmE+BQAxCAg4AF4dPQBHZikzJRjIgSSKJLS4bHwiMkzsvLQMeoISUgAeZoA+JOFZIksaLPNm3Py4IpLzBAoAGmSk4cJRqFxOpqyp6l2cbQ7G0maEoA)
There is no error

[2020-11-20 11:52] phawxby commented on #145
@captain-yossarian are you sure TS playground is working right. It's not throwing any errors [on this](https://www.typescriptlang.org/play?jsx=0&ts=4.0.5#code/JYWwDg9gTgLgBAbzgEQKarAJVQQwCYQB2ANgJ5wC+cAZlBCHAOQCuMwxwMpAtF2KgGdGAKFCRYiONgCOzQfCq16TVAA8wUQUIDcw4X1RTcBEqRlyB8ALwp0WY0TIAec-IB8u4QGMiluJukALiN8RzNUWXk4G0YAZXpDSyhgQgBzRl0fQj9NUNMAMQgIaP8IuBwBI0jLTyyBCGJUADpiCFSAClyTMkKIAEptIA) either and

[2020-11-20 11:53] captain-yossarian commented on #145
I'm not 100% sure, but it shows DeepReadonly type on mouse hover as expected.

[2020-11-22 05:18] ammaraltahan commented on #76
Hi
I am also getting this, as my root state contains DeepReadonly arrays for different object sets, and I'm running into this as well, I tried to implement the same fix, but I'm getting:

`Module '"../../../node_modules/utility-types/dist"' has no exported member 'ReadonlyArray'.ts(2305)`

[2020-11-27 05:45] aweiu commented on #137
https://github.com/maninak/ts-xor

[2020-12-08 10:19] captain-yossarian commented on #18
[SO question](https://stackoverflow.com/questions/65196665/typescript-create-generic-unwrapt-helper-type/65197024#65197024) related to this issue.

[2021-01-06 04:00] hackape opened #160 "Add new type: `AbstractConstructorParameters<T>`"
## Is your feature request related to a real problem or use-case?
Utility type to get constructor params from abstract class. TS built-in `ConstructorParameters` does not work on abstract class type since it's not constructible.

[code]

## Describe a solution including usage in code example

### Solution:
[code]

### Usage:
[code]

## Who does this impact? Who is this for?
Typescript user, genera

[2021-01-06 06:30] piotrwitek opened #161 "Add TupleOf"
## Is your feature request related to a real problem or use-case?

Add a generic way to specify length of a tuple type

## Describe a solution including usage in code example

[code]

## Additional context (optional)
https://github.com/microsoft/TypeScript/pull/40002

https://www.typescriptlang.org/play?ts=4.1.0-beta#code/C4TwDgpgBAKgrmANhA8gMwDwwDRQHJQQAewEAdgCYDOUZcAtgEYQBOAfFALy0PMuEly1fFAD8sAN

[2021-01-06 08:36] Mouvedia commented on #161
Shouldn't you use the [logarithmic one](https://github.com/microsoft/TypeScript/issues/26223#issuecomment-674514787) instead?

[2021-01-08 14:57] piotrwitek commented on #161
I agree, logarithmic could be better, but I haven't tried it yet.

[2021-01-31 22:16] malyzeli commented on #138
This would be really nice to have it included in `utility-types` library!

It is possible to define such shape using [discriminated union type](https://www.typescriptlang.org/docs/handbook/unions-and-intersections.html#discriminating-unions), but it requires having one shared property to infer correct type. That is acceptable approach for many cases, where some properties would be shared anyway.

[2021-02-06 09:12] stephanemagnenat commented on #161
It would be good if typed arrays could implement `TupleOf` because for mathematics and geometry code, they are much more efficient than tuples on the JavaScript side.

[2021-02-11 16:22] aspirisen opened #163 "Remove index signature"
## Is your feature request related to a real problem or use-case?

Remove index signature from `T`. Some libraries return type with index signatures. For example in `yargs`
[code]

## Describe a solution including usage in code example

There is a proposed solution on StackOverflow https://stackoverflow.com/a/51956054/3021445
Would be nice to have this here as well in `utility-types`

[code]
## Wh

[2021-02-19 13:09] xwh123456 opened #164 "Can Intersection give an example"
Why does Intersection need Extract<keyof T, keyof U> & Extract<keyof U, keyof T> to write Extract<keyof T, keyof U> or Extract<keyof U, keyof T> separately?

[2021-03-11 14:40] yard2010 commented on #138
It looks like there was a solution ready to be reviewed and merged here: https://github.com/graycoreio/daffodil/pull/1159
but it closed without any comment.

[2021-05-12 02:14] CMCDragonkai commented on #160
This doesn't work for object destructured assignment:

[code]

[2021-06-21 23:13] pelhage opened #166 "New utility type: Widen object's primitives"
## Is your feature request related to a real problem or use-case?
I have a specific object but would like to hide the actual values to be a bit wider:
[code]
## Describe a solution including usage in code example
I have a working example based on https://stackoverflow.com/questions/59355418/widen-a-type-with-a-type-generic-in-typescript but we'd need to modify it to better handle nested objects an

[2021-06-28 12:59] VanCoding opened #167 "New Type "AsyncReturnType""
## Is your feature request related to a real problem or use-case?

When we have an async function like this:
[code]

To get the return type, we currently have to do this:
`type APIData = PromiseType<ReturnType<typeof getDataFromAPI>>`

This is a bit hard to read IMO.

## Describe a solution including usage in code example
If we had an utility Type that combines these two types called "AsyncReturnT

[2021-09-15 21:48] cesar900808 opened #168 "'_DeepPartialArray' is not generic."
me sale este error con chart.js 3.5.1

[2021-10-08 22:49] cdaringe opened #170 "rfc: implement Dictionary<T>"
## Is your feature request related to a real problem or use-case?

I frequently need the common type: `Dictionary<T = unknown> = Record<string, T>`, common for JS objects

## Describe a solution including usage in code example

`Dictionary<T = unknown> = Record<string, T>`

## Who does this impact? Who is this for?

All TS users typing `Record<string, T>` objects, who want a shorthand

## Describe

[2021-10-10 06:46] flisboac opened #172 "Module '"utility-types"' has no exported member 'Nullish'."
## Description
`Nullish` and `isNullish` are not exports for this library, yet the README says they are.

## Steps to Reproduce
1. Install `utility-types`
2. Try to import `Nullish`
3. Try to compile, or verify syntax through e.g. tsc, eslint, etc.
4. `tsc` complains, with the message `Module '"utility-types"' has no exported member 'Nullish'.`

Example:

[code]

## Expected behavior

To have `Nul

[2021-10-15 01:21] black7375 opened #173 "New Type "RequiredByValueExcept<T, ValueType>", "PartialByValueExcept<T, ValueType>""
## Is your feature request related to a real problem or use-case?

This is useful when defining parameter values ​​for functions.

## Describe a solution including usage in code example

[code]

## Who does this impact? Who is this for?

I think this would be useful for defining default values ​​and parameters.

## Describe alternatives you've considered (optional)

## Additional context (optional

[2021-10-29 07:36] fluffy-heinzelman opened #174 "TypeScript: `DeepPartial` not working for union of string and string literals"
## Description
Consider the following unions, where union `B` is designed to provide intellisense code completion (in contrast to `A`, which is narrowed down to only `string` by the TS compiler).

If `DeepPartial` is applied on unions like `B` we get an TS error when we try to assign an arbitrary string value.

[code]

## Steps to Reproduce

Have a look at this Codesandbox:
https://codesandbox.io/

[2021-11-03 09:22] mindplay-dk opened #175 "Add support for generic Event utility types"
## Is your feature request related to a real problem or use-case?

Yes, anything involving custom functions calling e.g. `addEventListener` on DOM elements.

## Describe a solution including usage in code example

I found my solution [here](https://github.com/microsoft/TypeScript/issues/33047#issuecomment-704005614) - and here's a real world example:

[code]

This utility function returns a `Promi

[2021-12-02 10:17] ulken commented on #115
I got hit by the current `DeepRequired` behavior. A nested type is incorrectly inferred as `never`. With the proposed fix it works.

[2022-01-19 08:21] ulken commented on #115
Got hit by this again. This time it converted `T | U` to `T`.

[2022-01-28 12:53] ulken commented on #115
Decided to switch to `ts-essentials`'s `DeepRequired` instead of keeping a patched version in my code base.

[2022-03-06 22:06] euberdeveloper opened #176 "Add a type "Swap<T, Replaced, Replacing>"
## Is your feature request related to a real problem or use-case?

If an API returns an object with some dates, such as
[code]

The date will become a string due to json conversion:
[code]

I want a type such that:
[code]

## Describe a solution including usage in code example
A solution could be

[code]

But note that it **does not** support deep, so it should be perfectionated.

## Who does this

[2022-04-20 03:33] Phryxia opened #177 "Is there any reason for using yarn add instead of yarn add -D"
Note that spectrum is currently read only mode, so I post this question here.

In README, installation is done by following commands.

Is there any reason not using dev installation? (For example, `yarn add -D`)

[2022-04-25 20:38] piotrwitek commented on #177
There are type and runtime utilities, if you only ever plan to use types only, then yes you can use `-D` mode.

[2022-04-25 20:38] #177 closed

[2022-09-15 03:05] ericchanyoov opened #178 "Idea is Great, Why don't you commit your types utility to Typescript official built-in rather extra types?"
First of all please check our spectrum community chat and we recommend to ask your question there for a quickest response and the indexing in search engines:
- https://spectrum.chat/utility-types

The only good reason to use issue tracker for your questions would be for "special requests" that doesn't fit into bug reports and feature requests categories.

[2022-09-15 13:02] piotrwitek commented on #178
Hey, I never tried but I think that's the userland domain and would never be accepted to the core library. You can try if you wish, it's open source and anyone can pick-up the code from here and submit it to TS as proposal.

[2022-09-15 13:02] #178 closed

[2022-10-20 10:48] ashatyk commented on #176
I worked on such problem and my idea is:
`type _Update<T, U, S> = {
    0: Exclude<U, T> extends T ? (Exclude<T, U> | S) : T,
    1: S
}[[T] extends [U] ? [U] extends [T] ? 1 : 0 : 0]

type Update<T extends object, U, S> = {
    [K in keyof T]: T[K] extends object ? Update<T[K], U, S> : _Update<T[K], U, S>
}

type a1 = {
    b1: symbol | string | number
    b2: symbol | string
    b3: symbol
    b

[2022-10-31 16:20] Knagis opened #179 "$ElementType does not work with keyofStringsOnly TS option"
## Description

[code]

with `keyofStringsOnly: true`

[code]

## Steps to Reproduce

open https://www.typescriptlang.org/play?keyofStringsOnly=true&ssl=3&ssc=39&pln=1&pc=1#code/KYDwDg9gTgLgBAE2AYwDYEMrDjAnmbAEgFFVgBbYAOxgBV9gAeWuUGahAZzgG8AoOILgBtAApwAllTgBpOADI46KrgC6ALiUqA3HwC+AGlmsQ7KlzgBrYLggAzOCwA+cKgFdyAI2BQAfHABeR2EZVV0BQQB6SLhicBQYTU4YKCkAc10hPAI4USgIMG4gnld0SiSU9O0lNOBNdy8faoA3CU4JTzJNTw

[2022-10-31 17:15] Knagis commented on #179
slightly better approach, does not exclude number when `keyof T` does include it:

[code]

[2022-11-02 19:48] piotrwitek commented on #179
Hey @Knagis , thanks for the report and solution, could you please submit a PR?

[2022-11-06 18:43] Leandro-Albano opened #181 "Non Empty Array Type"
## Is your feature request related to a real problem or use-case?
Use-case. Where we need an non empty array to be provided.

## Describe a solution including usage in code example
`type NonEmptyArray<T> = [T, ...T[]];`

`
const invalid: NonEmptyArray<string> = []; // Type '[]' is not assignable to type 'NonEmptyArray<string>'. Source has 0 element(s) but target requires 1.
const valid: NonEmptyAr

[2022-11-06 18:48] Leandro-Albano commented on #181
I would be happy to submit a PR for that if approved!